doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title 后台管理
        include includes/head
    body(class="body" app="2")
        include includes/header
        block content
        include includes/footer