doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title 后台管理
        include includes/head
        link(href="/css/style.css",rel="stylesheet")
    body(class="fixed-sidebar" style="overflow:auto")
            include includes/sidebar
                block content
            include includes/script
            include includes/footer