doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title imooc
        include includes/head
        link(href="/css/imoocTest.css",rel="stylesheet")
    body(class="body")
        include includes/navbar
        include includes/header
        block content
        include includes/footer