doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title imooc
        include includes/head
    body(class="body" app="110001-1")
        include includes/header
        block content
        include includes/footer