<div ng-controller="MovieDetailCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <video src="http://www.jplayer.org/video/webm/Big_Buck_Bunny_Trailer.webm" controls="controls">
                    your browser does not support the video tag
                </video>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>评论区</h3>
                    </div>
                    <div class="panel-body">
                        <ui class="media-list">
                            <div ng-repeat="item in comments">
                                <li class="media">
                                    <div class="pull-left">
                                        <a href="#comments" class="comment" data-cid="{{item._id}}" data-tid="{{item.form._id}}">
                                            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" class="media-object" style="width: 64px; height: 64px;"/>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">{{item.from.name}}</h4>
                                        <p>{{item.content}}</p>
                                        <div ng-if="item.reply && item.reply.length > 0">
                                            <div ng-repeat="reply in item.reply">
                                                <div class="media">
                                                    <div class="pull-left">
                                                        <a href="#comments" class="comment" data-cid="{{item._id}}" data-tid="{{item.form._id}}">
                                                            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" class="media-object" style="width: 64px; height: 64px;"/>
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="media-heading">
                                                            {{reply.from.name}}
                                                            <span class="text-info">
                                                                &nbsp;回复&nbsp;
                                                                {{reply.to.name}}
                                                            </span>
                                                        </h4>
                                                        <p>
                                                            {{reply.content}}
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                </li>
                            </div>
                        </ui>

                        <div id="comments">
                            <form action="/user/comment" name="commentForm" ng-controller="commentCtrl" ng-submit="" novalidate >
                                <input type="hidden" name="comment[movie]" ng-model="comment.movie"/>
                                <div ng-if="user">
                                    <input type="hidden" name="comment[from]" ng-model="user._id"/>
                                </div>
                                <div class="form-group">
                                    <textarea name="commetn[content]" cols="30" rows="10" class="form-control">

                                    </textarea>
                                </div>
                                <!--<div ng-if="user">-->
                                    <button class="btn btn-primary" type="submit">
                                        提交
                                    </button>
                                <!--</div>-->
                                <!--<div ng-if="!user">-->
                                    <!--<button class="btn btn-primary" type="submit">-->
                                        <!--<a href="#" class="navbar-linkq" data-toggle="modal" data-target="#signinModal"></a> 登陆后后在评论-->
                                    <!--</button>-->
                                <!--</div>-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="dl-horizontal">
                    <dt>电影名字</dt>
                    <dd>{{movie.title}}</dd>
                    <dt>导演</dt>
                    <dd>{{movie.doctor}}</dd>
                    <dt>国家</dt>
                    <dd>{{movie.country}}</dd>
                    <dt>语言</dt>
                    <dd>{{movie.language}}</dd>
                    <dt>上映年份</dt>
                    <dd>{{movie.year}}</dd>
                    <dt>简介</dt>
                    <dd>{{movie.summary}}</dd>
                </div>
            </div>
        </div>
    </div>
</div>
