extends ../../layout
block content
    #mainer
        #mainer-inner
            #area-login
                .block.l
                    .bg-login
                .block.r
                    .userbox-login
                        #form-login
                            h3.title 登陆
                            .userbox-input
                                i.fa.fa-user
                                input.username(type="text",autocomplete="off" placeholder="请输入用户名")
                            .userbox-input
                                i.fa.fa-lock
                                input.password(type="password",autocomplete="off" placeholder="请输入密码")
                            .userbox-tool
                                button.btn.btn-info#signinBtn 登陆
                                a.r.btn.btn-default(href="/user/signupPage") 注册
    span.clearfix
    script.
        var VIEW = 'login'