extends ../../layout
block content
    #mainer
        #mainer-inner
            #area-login
                .block.l
                    .bg-login
                .block.r
                    .userbox-login
                        #form-login
                            h3.title 注册账号
                            .userbox-input
                                i.fa.fa-user
                                input.username(type="text",autocomplete="off",placeholder="请输入用户名")
                            .userbox-input
                                i.fa.fa-lock
                                input.password(type="password",autocomplete="off",placeholder="请输入密码")
                            .userbox-input
                                i.fa.fa-lock
                                label(for="confirmPWD",class="hide") 确定密码
                                input(id="confirmPWD" type="password" autocomplete="off",placeholder="确认密码")
                            .userbox-tool
                                a.btn.btn-info(href="/user/signinPage") 登陆
                                button.btn.btn-default.r#signupBtn 注册
    span.clearfix
        script.
            var VIEW = 'login';