script(src="/dist/lib/jquery/2.1.1/jquery.js")
link(href="/dist/lib/bootstrap/css/bootstrap.css" rel="stylesheet")
script(src="/dist/lib/bootstrap/js/bootstrap.js")
link(href="/css/imoocTest.css" rel="stylesheet")
link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")