script(src="/js/dist/jquery/2.1.1/jquery.js")
script(src="/js/dist/bootstrap/js/bootstrap.js")
script(src="/js/dist/metisMenu/jquery.metisMenu.js")
script(src="/js/dist/slimscroll/jquery.slimscroll.min.js")
script(src="/js/dist/layer/layer.min.js")
script(src="/js/dist/common.js")
script(src="/js/dist/contabs.min.js")